#demo-header {
height: 150px;
width: 100%;
background: url('http://www.jqueryajaxphp.com/cdn/2013/11/jap-logo.png') center no-repeat;
margin-bottom: 25px;
border-bottom: 1px solid #999;
padding-bottom: 25px;
}

/*footer {
width: 786px;
font: normal 16px Arial, Helvetica, sans-serif;
padding: 15px 35px;
position: fixed;
bottom: 0;
left: 50%;
margin-left: -420px;
background-color: #1f1f1f;
background-image: -webkit-linear-gradient(top, #1f1f1f, #101010);
background-image: -moz-linear-gradient(top, #1f1f1f, #101010);
background-image: linear-gradient(top, #1f1f1f, #101010);
border-radius: 2px 2px 0 0;
box-shadow: 0 -1px 4px rgba(0,0,0,0.4);
z-index: 1;
text-align: center;
}*/

/*table.dataTable tr.odd {
background-color: #E2E4FF;
}
*/
.editableform {
    margin-bottom: 0;
}

.editableform .control-group {
    margin-bottom: 0; 
    white-space: nowrap; 
    line-height: 20px; 
}

.editable-buttons {
   display: inline-block; 
   vertical-align: top;
   margin-left: 7px;
   zoom: 1; 
   *display: inline;
}

.editable-input {
    vertical-align: top; 
    display: inline-block; 
    width: auto; 
    white-space: normal; 
    zoom: 1; 
    *display: inline;   
}

.editable-buttons .editable-cancel {
   margin-left: 7px; 
}

.editable-click, 
a.editable-click, 
a.editable-click:hover {
    text-decoration: none;
    /*border-bottom:   double 3px #F00;*/
}

.editable-unsaved {
  font-weight: bold; 
}

.editable-bg-transition {
  -webkit-transition: background-color 1400ms ease-out;
  -moz-transition: background-color 1400ms ease-out;
  -o-transition: background-color 1400ms ease-out;
  -ms-transition: background-color 1400ms ease-out;
  transition: background-color 1400ms ease-out;  
}